*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  columns: 1;
  column-gap: 4rem;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2.5rem 1.5rem 2.5rem;
}

.component-display {
  display: inline-block;
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.component-display > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.component-display > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.component-display > .row.align-start {
  justify-content: flex-start;
}

.component-display > .row:not(:last-child) {
  margin-block-end: 0.5rem;
}

.component-display > .row > *:not(:last-child) {
  margin-inline-end: 0.5rem;
}

/* Appying styles to app bars for demonstration purposes. Normally these styles shouldn't be used. */

.component-display > .row > .mdc-drawer,
.component-display > .row > .mdc-top-app-bar {
  position: relative;
  top: 0 !important;
  z-index: inherit;
}

.component-display > .row > .mdc-list {
  width: 100%;
}

.component-display
  > .row
  > .mdc-top-app-bar.mdc-top-app-bar--short.mdc-top-app-bar--short-collapsed {
  width: 112px;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  .container {
    columns: 2;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding: 0 0 1.5rem 0;
    columns: 3;
  }
}
