/*  Typography */
$mdc-typography-font-family: unquote('Roboto, sans-serif');

/* Shape */
$mdc-shape-small-component-radius: 16px;
$mdc-shape-medium-component-radius: 24px;
$mdc-shape-large-component-radius: 16px;

/* Color */
$mdc-theme-primary: #004ef2;
$mdc-theme-secondary: #f07c00;

$mdc-theme-surface: #ffffff;
$mdc-theme-background: #ffffff;
$mdc-theme-error: #f20000;

$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-error: #ffffff;
$mdc-theme-on-surface: #000000;
